[Unit]
Description=Data splitter
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/data/
ExecStart=/home/data/datasplitter \
	--port 34327 \
	--port-stable-server 34328 \
	--port-dev-server 34329
ExecStop= kill -s SIGINT $MAINPID
StartLimitIntervalSec=90
StartLimitBurst=20
Restart=always
User=data
Group=data

[Install]
WantedBy=multi-user.target
