[Unit]
Description=Data splitter
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/data/
ExecStart=/home/data/datasplitter \
	--port_self 34327
	--port_stable 34328
	--port_dev 34329
ExecStop= kill -s SIGINT $MAINPID
StartLimitIntervalSec=90
StartLimitBurst=20
Restart=always
User=data
Group=data

[Install]
WantedBy=multi-user.target
RequiredBy=data_server
