# TODO after install, replace <TOKEN> and <DOMAIN> with actual values

[Unit]
Description=Data server
After=network-online.target
Wants=network-online.target

[Service]
Environment="RUST_BACKTRACE=1"
WorkingDirectory=/home/data/
ExecStart=/home/data/dataserver \
	--port 34322 \
	--domain <DOMAIN> \
	--token <TOKEN> \
	--service
ExecStop=/bin/kill -s SIGKILL $MAINPID
User=data
Group=data

[Install]
WantedBy=multi-user.target
