# TODO after install, replace <TOKEN> and <DOMAIN> with actual values

[Unit]
Description=Data server
After=network-online.target
Wants=network-online.target

[Service]
Environment="RUST_BACKTRACE=1"
WorkingDirectory=/home/pi/dataserver_dev/
ExecStart=/home/pi/dataserver_dev/server \
	--external-port 443 --port 38971 \
	--domain <DOMAIN> \
	--token <TOKEN> \
	--service \
ExecStop=/bin/kill -s SIGKILL $MAINPID
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
