# TODO after install, replace <DOMAIN>, <ADMIN_PASS>, <ALLOWED_IDS> and <HA_TOKEN> with actual values

[Unit]
Description=Home Automation System
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/ha
Environment="RUST_BACKTRACE=1"
ExecStart=/home/ha/homeAutomation \
  --domain <DOMAIN> \
  --port 34326 \
  --admin-password <ADMIN_PASS> \
  --token <TOKEN>\
  --allowed-telegram-ids <ALLOWED_IDS> \
  --ha-key <HA_TOKEN>
ExecStop=/bin/kill -s SIGKILL $MAINPID
StartLimitIntervalSec=90
StartLimitBurst=20
Restart=always
User=ha
Group=ha

[Install]
WantedBy=multi-user.target
