[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target

[Service]
Environment="CONFIG=/etc/haproxy/haproxy.cfg" "PIDFILE=/run/haproxy.pid" "EXTRAOPTS=-S /run/haproxy-master.sock"
# check pre start if the config is right
ExecStartPre=/usr/sbin/haproxy -f $CONFIG -c -q $EXTRAOPTS
ExecStart=/usr/sbin/haproxy -Ws -f $CONFIG -p $PIDFILE $EXTRAOPTS $OPTIONS
ExecReload=/usr/sbin/haproxy -f $CONFIG -c -q $EXTRAOPTS
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Restart=always
SuccessExitStatus=143
Type=notify

# # Extra sandboxing
# NoNewPrivileges=true
# ProtectHome=true  # can not access /home /root or /run/user
# ProtectSystem=strict  # file system mounted read-only except /dev /proc and /sys
# ReadWritePaths=/run/haproxy.pid /run/haproxy-master.sock  # allow write acces to these dirs
# ProtectKernelTunables=true
# ProtectKernelModules=true
# ProtectControlGroups=true
# # limit the systemcalls allowed
# SystemCallFilter=~@cpu-emulation @keyring @module @obsolete @raw-io @reboot @swap @sync

[Install]
WantedBy=multi-user.target
