# TODO after install, replace <USER> with actual values
# (should be done by install script)

[Unit]
Description=Matrix home server
After=network-online.target
Wants=network-online.target

[Service]
Environment="CONDUIT_CONFIG=/home/<USER>/conduit.toml"
WorkingDirectory=/home/<USER>/
Restart=always
ExecStart=/home/<USER>/conduit
ExecStop=/bin/kill -s SIGKILL $MAINPID
User=<USER>
Group=<USER>

[Install]
WantedBy=multi-user.target
